<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>여행 경로 지도</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
</head>
<body>
    <div class="map_wrap">
        <div id="map" data-locations='{{ locations|tojson|safe }}'></div>
        <a href="/" class="back-button">메인 페이지로 돌아가기</a>
    </div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ KAKAO_MAP_API_KEY }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>
</html>