<!-- <!DOCTYPE html>
<html>
<head>
    <title>여행 경로 지도</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h3>업로드된 이미지</h3>
            <div id="uploadedImages" class="uploaded-images"></div>
        </div>
        <div class="map-container">
            {{ map_html|safe }}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>
</html> -->